## Series 객체

In [1]:
import pandas as pd
import numpy as np

series = pd.Series([1, 2, 3, 4, 5])
# Series를 만들때 리스트로만 묶고서 객체화했을 땐, 정수형 인덱스가 자동으로 생성됌
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
T_series = pd.Series([1, 2, 3, 4, 5],
                    index=['a','b','c','d','e'])
# Series를 만들 때 index를 줘서 사용자 지정 인덱스를 만들수 있다.
T_series

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [3]:
T_series.values # values 메소드를 사용하면 해당 Series의 값들이 np.array형태로 반환됌

array([1, 2, 3, 4, 5], dtype=int64)

In [4]:
T_series.values[3] # values 메소드는 slicing이 가능한 객체

4

In [5]:
for i in range(0, 5, 2):
    # Slicing이 가능하기 때문에 for 문의 iteration을 적용하여 홀수값으로만 반환이 가능
    print(T_series.values[i])

1
3
5

In [6]:
T_series.index # index 메소드를 사용하면 해당 Series의 index 값들을 np.array형태로 반환됌

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [7]:
series.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
T_series[2:4] # Series 객체 또한 Slicing이 가능함

c    3
d    4
dtype: int64

In [9]:
T_series[::2] # Slicing이 가능하기 때문에 step을 주어 홀수값들만 반환

a    1
c    3
e    5
dtype: int64

In [10]:
T_series['f'] = 14 # Series는 dictionary의 원소를 방식으로 원소 추가가 가능함
T_series['ff'] = 4
T_series['g'] = np.nan # np.nan 값을 이용하여 결측치를 추가하는 방법이 있음
T_series

a      1.0
b      2.0
c      3.0
d      4.0
e      5.0
f     14.0
ff     4.0
g      NaN
dtype: float64

In [11]:
T_series.value_counts() # value_counts()를 이용하면 Series의 관측값의 빈도수를 파악할 수 있다.

4.0     2
3.0     1
2.0     1
14.0    1
5.0     1
1.0     1
dtype: int64

In [12]:
T_series.value_counts(sort = False)

3.0     1
2.0     1
14.0    1
5.0     1
4.0     2
1.0     1
dtype: int64

In [13]:
# value_counts(normalize = True)를 이용하면 빈도수가 비율형태로 나오게 된다.
# value_counts와 index, value를 이용하여 백분위로 values로 갖는 새로운 Series 생성하는 예
idx = T_series.value_counts().index
val = T_series.value_counts(normalize = True).values *100
hundred = dict()

for i, j in zip(idx, val):
    t = round(j, 1)
    hundred[i] = str(t) + ' %'

hundred = pd.Series(hundred)
hundred

4.0     28.6 %
3.0     14.3 %
2.0     14.3 %
14.0    14.3 %
5.0     14.3 %
1.0     14.3 %
dtype: object

In [14]:
# 딕셔너리 형태를 이용하여 새로운 Series를 생성할 수 있다.
book = pd.Series({'English':'English Grammer in use',
                  '태블로':'태블로 굿모닝 굿애프터눈',
                  '판다스':'파이썬 머신러닝 판다스 데이터 분석',
                  'ML':'파이썬 머신러닝 완벽가이드'})
book

English    English Grammer in use
태블로                 태블로 굿모닝 굿애프터눈
판다스           파이썬 머신러닝 판다스 데이터 분석
ML                 파이썬 머신러닝 완벽가이드
dtype: object

In [15]:
book['English']

'English Grammer in use'

In [16]:
book['English':'판다스']

English    English Grammer in use
태블로                 태블로 굿모닝 굿애프터눈
판다스           파이썬 머신러닝 판다스 데이터 분석
dtype: object