## Index 객체

In [2]:
import pandas as pd

idx = pd.Index([0,1, 2, 3, 4, 5,6])
idx

Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')

In [3]:
idx[1]

1

In [4]:
idx[0:5:2]

Int64Index([0, 2, 4], dtype='int64')

In [5]:
didx = pd.DatetimeIndex(['2021-12-12', '2021-12-13'])
didx

DatetimeIndex(['2021-12-12', '2021-12-13'], dtype='datetime64[ns]', freq=None)

In [6]:
pdidx = pd.PeriodIndex(['2021-12', '2022-01'], freq='M')
pdidx

PeriodIndex(['2021-12', '2022-01'], dtype='period[M]', freq='M')

In [7]:
print(idx)
print(pdidx.size)

Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')
2

In [8]:
pdidx_y = pd.PeriodIndex(['2021', '2022', '1999', '1954', '1441'], freq='Y')
pdidx_y

PeriodIndex(['2021', '2022', '1999', '1954', '1441'], dtype='period[A-DEC]', freq='A-DEC')

In [9]:
idx1 = pd.Index([1, 2, 4, 6, 8])
idx2 = pd.Index([2, 4, 5, 6, 7])
pd.DataFrame(data=range(5), index=pdidx_y)

      0
2021  0
2022  1
1999  2
1954  3
1441  4

### index 연산

In [10]:
import warnings
warnings.filterwarnings(action='ignore')
# warnings.filterwarnings(action='default')

idx1 = pd.Index([1, 2, 4, 6, 8])
idx2 = pd.Index([2, 4, 5, 6, 7])

print(idx1.append(idx2))
print(idx1.difference(idx2)) # difference는 두 index의 차집합을 반환한다.
print(idx1^idx2)  # ^ 연산자는 두 index의 차집합을 반환하지만 추후 삭제 예정( difference 사용 추천 )
print(idx1 - idx2)  # 두 DataFrame의 값들의 차를 반환한다.
print(idx1.intersection(idx2)) # intersection은 두 index의 교집합을 반환한다.
print(idx1 & idx2) # & 연산자도 intersection를 사용하지만 추후에 삭제 예정( intersection을 사용 추천 )
print(idx1.union(idx2)) # union 함수는 두 index의 합집합을 반환 (중복을 제거함)
print(idx1|idx2) # | 연산자도 두 index의 합집합을 반환하지만 추후에 삭제 예정 ( union 사용 추천 )
print(idx1.delete(0)) # 인덱스 번호를 지정하여 그 해당하는 번호의 값을 제거
print(idx1.drop(1))   # 해당하는 값을 지정하여 그 값을 제거

Int64Index([1, 2, 4, 6, 8, 2, 4, 5, 6, 7], dtype='int64')
Int64Index([1, 8], dtype='int64')
Int64Index([1, 5, 7, 8], dtype='int64')
Int64Index([-1, -2, -1, 0, 1], dtype='int64')
Int64Index([2, 4, 6], dtype='int64')
Int64Index([2, 4, 6], dtype='int64')
Int64Index([1, 2, 4, 5, 6, 7, 8], dtype='int64')
Int64Index([1, 2, 4, 5, 6, 7, 8], dtype='int64')
Int64Index([2, 4, 6, 8], dtype='int64')
Int64Index([2, 4, 6, 8], dtype='int64')

#### difference( )

In [11]:
a_index = pd.Index(range(1, 7))
a = pd.DataFrame(data = [1, 2, 3, 4, 5, 6], index = a_index)

b_index = pd.Index(range(1, 7, 2))
b = pd.DataFrame(data = [1, 3, 5], index = b_index)

c = pd.DataFrame(data = range(0, 6, 2), index = a_index.difference(b_index))
c

   0
2  0
4  2
6  4

In [12]:
a = pd.Index([1, 2, 3, 4, 5, 6, 7, 8, 9])
b = pd.Index(range(1, 9, 2))
c = pd.Index(a.difference(b))
c

Int64Index([2, 4, 6, 8, 9], dtype='int64')

#### intersection( )

In [13]:
a_index = pd.Index(range(1, 7))
a = pd.DataFrame(data=[1, 2, 3, 4, 5, 6], index=a_index)

b_index = pd.Index(range(1, 7, 2))
b = pd.DataFrame(data=[1, 3, 5], index=b_index)

c = pd.DataFrame(data=[2, 4, 6], index=a_index.intersection(b_index))
c

   0
1  2
3  4
5  6

In [14]:
a = pd.Index(range(1, 7))
b = pd.Index(range(1, 7, 2))
c = a.intersection(b)
list(c)

[1, 3, 5]

#### delete( )

In [15]:
a = pd.Index(range(1,7))
print(list(a))
a = a.delete(3)
print(list(a))  # a의 Index 번호 3번을 제외함

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6]

In [16]:
b = pd.Index(range(1, 11))
b = b.delete([1, 3, 5, 7, 9])
list(b)

[1, 3, 5, 7, 9]

#### drop( )

In [17]:
a = pd.Index(range(1,7))
print(list(a))
a = a.drop([1, 3, 5])
list(a)

[1, 2, 3, 4, 5, 6]

[2, 4, 6]

In [18]:
b = pd.Index(range(1, 11))
print(list(b))
b = b.drop([1, 5, 10])
list(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[2, 3, 4, 6, 7, 8, 9]