## 고성능 연산

In [325]:
nrows , ncols = 1000000, 100

df1, df2, df3, df4 =(pd.DataFrame(np.random.rand(nrows, ncols)) for i in range(4) )

In [326]:
%timeit df1 + df2 +df3 +df4

1.12 s ± 39.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [327]:
%timeit pd.eval('df1+df2+df3+df4')

466 ms ± 25.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [328]:
%timeit df1 * -df2 / (-df3*df4)

2.08 s ± 713 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [329]:
%timeit pd.eval('df1 * -df2 / (-df3*df4)')

443 ms ± 33.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [330]:
%timeit (df1 < df2) & (df2 <= df3) & (df3 != df4)

594 ms ± 41.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [331]:
%timeit pd.eval('(df1 < df2) & (df2 <= df3) & (df3 != df4)')

272 ms ± 5.02 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [332]:
df = pd.DataFrame(np.random.rand(10000000, 5), columns=['A','B','C','D','E'])
df.head()

          A         B         C         D         E
0  0.488876  0.370213  0.209664  0.403769  0.812692
1  0.902853  0.711986  0.462742  0.138583  0.942992
2  0.923614  0.681024  0.319210  0.036920  0.099341
3  0.252328  0.408919  0.416972  0.315338  0.884603
4  0.742515  0.405909  0.048960  0.060139  0.443625

In [333]:
%timeit df['A'] + df['B'] / df['C'] - df['D'] * df['E']

191 ms ± 6.14 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [334]:
%timeit pd.eval("df.A + df.B / df.C - df.D * df.E")

48.1 ms ± 2.64 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [335]:
df.eval('R = A + B / C - D * E', inplace=True)
df.head()

          A         B         C         D         E         R
0  0.488876  0.370213  0.209664  0.403769  0.812692  1.926484
1  0.902853  0.711986  0.462742  0.138583  0.942992  2.310795
2  0.923614  0.681024  0.319210  0.036920  0.099341  3.053413
3  0.252328  0.408919  0.416972  0.315338  0.884603  0.954066
4  0.742515  0.405909  0.048960  0.060139  0.443625  9.006402

In [336]:
n__index = np.random.randint(1, 4, (3,3))

tt1, tt2, tt3, tt4 = ((pd.DataFrame(n__index))for i in range(4))

In [337]:
%timeit tt1 + tt2

93.6 µs ± 863 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [338]:
%timeit pd.eval('tt1+tt2')

1.19 ms ± 64.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [339]:
col_mean = df.mean(1)
df['A'] + col_mean

0          1.190826
1          1.814511
2          1.775868
3          0.791032
4          2.527107
             ...
9999995    1.345189
9999996    1.006785
9999997    0.557266
9999998    1.117957
9999999    1.561265
Length: 10000000, dtype: float64

In [340]:
df.eval('A + @col_mean')
# 외부에 있는 변수도 '@'를 사용하여 불러올 수 있다.

0          1.190826
1          1.814511
2          1.775868
3          0.791032
4          2.527107
             ...
9999995    1.345189
9999996    1.006785
9999997    0.557266
9999998    1.117957
9999999    1.561265
Length: 10000000, dtype: float64

In [341]:
df[(df.A < 0.5) & (df.B < 0.5) & (df.C > 0.5)]

                A         B         C         D         E         R
15       0.352789  0.451733  0.881564  0.091902  0.487455  0.820413
32       0.245665  0.328907  0.590170  0.354169  0.311095  0.692793
48       0.065236  0.474578  0.571893  0.544419  0.311448  0.725515
59       0.366234  0.382593  0.994350  0.011880  0.845038  0.740961
64       0.387483  0.301342  0.510528  0.531405  0.585165  0.666778
...           ...       ...       ...       ...       ...       ...
9999971  0.055589  0.247460  0.661532  0.719662  0.972968 -0.270548
9999976  0.202647  0.185252  0.856664  0.652971  0.722132 -0.052636
9999978  0.465963  0.242608  0.917010  0.758110  0.147687  0.618564
9999989  0.418460  0.474370  0.660337  0.278983  0.396427  1.026239
9999997  0.057795  0.490160  0.597781  0.971262  0.071961  0.807867

[1250792 rows x 6 columns]

In [342]:
%timeit df[(df.A < 0.5) & (df.B < 0.5) & (df.C > 0.5)]
# 여러 조건을 포함하는 계산식의 경우에도

157 ms ± 5.03 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [343]:
%timeit pd.eval('df[(df.A < 0.5) & (df.B < 0.5) & (df.C > 0.5)]')
# eval로 가능하다.

171 ms ± 15.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [158]:
%timeit df.query('(A < 0.5) and (B < 0.5) and (C > 0.5)')

190 ms ± 22.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [159]:
pd.eval('df[(df.A < 0.5) & (df.B < 0.5) & (df.C > 0.5)]')

                A         B         C         D         E         R
3        0.239817  0.152939  0.602620  0.699912  0.858988 -0.107609
13       0.460262  0.424502  0.858867  0.985975  0.737832  0.227036
21       0.463955  0.052499  0.541964  0.301343  0.210881  0.497276
27       0.108273  0.253613  0.940130  0.051461  0.697182  0.342159
51       0.117922  0.420361  0.853297  0.650511  0.909979  0.018601
...           ...       ...       ...       ...       ...       ...
9999957  0.066084  0.277332  0.565864  0.937372  0.837599 -0.228953
9999963  0.197640  0.057284  0.842049  0.189427  0.322022  0.204670
9999978  0.279420  0.328775  0.519763  0.606751  0.689120  0.493842
9999988  0.087384  0.183914  0.823628  0.684903  0.772283 -0.218258
9999990  0.051751  0.024260  0.763756  0.265811  0.508077 -0.051537

[1250134 rows x 6 columns]

In [160]:
data_1 = {'몸무게': [95, 70, 65, 45, 85], 
        '키': [170, 170, 170, 170, 170]}
y = pd.DataFrame(data_1)
y

   몸무게    키
0   95  170
1   70  170
2   65  170
3   45  170
4   85  170

In [161]:
y.eval('몸무게 + 키')

0    265
1    240
2    235
3    215
4    255
dtype: int64

In [162]:
y.eval('BMI = 몸무게 / ((키/100)*(키/100))', inplace=True)
y['BMI'] = round(y['BMI'],2)
y

   몸무게    키    BMI
0   95  170  32.87
1   70  170  24.22
2   65  170  22.49
3   45  170  15.57
4   85  170  29.41

In [163]:
y.eval('몸무게 >= 90')

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [164]:
y.loc[y.eval('              BMI < 18'), '분류'] = '저체중'
y.loc[y.eval('18 <= BMI and BMI < 23'), '분류'] = '정상'
y.loc[y.eval('23 <= BMI and BMI < 25'), '분류'] = '과체중'
y.loc[y.eval('25 <= BMI and BMI < 30'), '분류'] = '비만'
y.loc[y.eval('30 <= BMI             '), '분류'] = '고도비만'
y

   몸무게    키    BMI    분류
0   95  170  32.87  고도비만
1   70  170  24.22   과체중
2   65  170  22.49    정상
3   45  170  15.57   저체중
4   85  170  29.41    비만