In [1]:
import pandas as pd
import numpy as np

# 문자열 연산
## 문자열 연산자
- 파이썬의 문자열 연산자를 거의 모두 반영
- 문자열 연산자를 쓰기 위해선 str.을 꼭 써줘야 한다.
|함수|설명|
|:-|:-|
|```capitalize( )```|첫 문자를 대문자로 하고, 나머지 문자를 소문자로 하는 문자열 반환|
|```casefold( )```|모든 대소문자 구분을 제거|
|```count( sub, start, end )```|[start, end] 범위에서 부분 문자열 sub의 중복되지 않은 수를 반환|
|```find( sub, start, end )```|[start, end] 범위에서 부분 문자열 sub가 문자열의 가장 작은 인덱스를 반환. sub가 발견되지 않는 경우는 -1 반환|
|```rfind( sub, start, end )```|[start, end] 범위에서 부분 문자열 sub가 문자열의 가장 큰 인덱스를 반환. sub가 발견되지 않는 경우는 -1 반환|
|```index( sub, start, end )```|find()와 유사하지만 부분 문자열 sub가 없으면 ValueError가 발생|
|```rindex( sub, [, start[, end]] )```|rfind( )와 유사하지만 부분 문자열인 sub가 없으면 ValueError가 발생|
|```isalnum( )```|문자열의 모든 문자가 영숫자로 1개 이상 있으면 True, 아니면 False 반환|
|```isalpha( )```|문자열의 모든 문자가 영문자로 1개 이상 있으면 True, 아니면 False 반환|
|```isdecimal( )```|문자열의 모든 문자가 10진수 문자이며 1개 이상 있을 때 True, 그렇지 않으면 False 반환|
|```isdigit( )```|문자열의 모든 문자가 숫자미여 1개 이상 있을 때 True, 그렇지 않으면 False 반환|
|```isnumeric( )```|문자열의 모든 문자가 수치형이며 1개 이상 있을 때 True, 그렇지 않으면 False 반환|
|```isidentifier( )```|문자열이 유효한 식별자인 경우 True 반환|
|```isspace( )```|문자열 내에 공백 문자만 있으면 True, 그렇지 않으면 False 반환|
|```istitle( )```|문자열이 제목이 있는 문자열에 문자가 1개 이상 있으면 True, 그렇지 않으면 False 반환|
|```islower( )```|문자열의 모든 문자가 소문자이며 1개 이상 있을 때 True, 그렇지 않으면 False 반환|
|```isupper( )```|문자열의 문자가 모두 대문자에 문자가 1개 이상 있으면 True, 그렇지 않으면 False 반환|
|```join( iterable )```|iterable에 있는 문자열에 연결된 문자열을 반환|
|```center( width[, fillchar] )```|길이 너비민큼 중앙정렬된 문자열 반환|
|```ljust( width[, fillchar] )```|너비만금의 문자열에서 왼쪽 정렬된 문자열을 반환|
|```rjust( width[, fillchar] )```|너비만큼의 문자열에서 오른쪽 정렬된 문자열을 반환|
|```lower( )```|모든 대소문자가 소문자로 변환된 문자열을 반환|
|```upper( )```|문자열에서 모든 문자를 대문자로 변환된 문자열을 반환|
|```title( )```|문자열에서 첫 글자만 대문자이고 나머지는 소문자인 문자열 반환|
|```swapcase( )```|문자열에서 소문자를 대문자로 대문자를 소문자로 변원한 문자열 반환|
|```strip( [chars] )```|문자열 앙쪽에 지정된 chars 또는 공백을 제거한 문자열을 반환|
|```lstrip( [chars] )```|문자열 왼쪽에 지징된 chars 또는 공백을 제거한 문자열을 반환|
|```rstrip( [chars] )```|문자열 오른쪽에 지정된 chars 또는 공백을 재거한 문자열을 반환|
|```partition( sep )```|문자열에서 첫번째 sep를 기준으로 분할하여 3개의 튜플을 반환|
|```rpartition( sep )```|문자열에서 미지막 sep를 기준으로 분할하여 3개의 튜플을 반환|
|```replace( old, new[count] )```|문자열의 모든 old글 new로 교체한 문자열을 반환|
|```split( sep=None, maxsplit=1 )```|sep를 구분자 문자열로 사용하여 문자열의 단어 목록을 반환|
|```rsplit( sep=None, maxsplit=1 )```|sep를 구분자 문자열로 사용하여 문자열의 단어 목록을 반환|
|```splitlines( [keepends] )```|문자열에서 라인 단위로 구분하여 리스트를 반환|
|```startswith( prefix [, start[, end]] )```|[start, end] 범위에서 지정한 prefix로 시작하면 True, 아니면 False 반환|
|```endswith( suffix [, start[, end]] )```|[start, end] 범위에서 지정한 suffix로 끝나면 True, 아니면 False 반환|
|```zfill( width )```|너비 만큼 문자열에서 비어있는 부분에 '0'이 채워진 문자열 반환|

In [2]:
name_tuple = ['Suan Lee', 'Steven Jobs','Larry Page', 'Elon Musk', 
              None,'Bill Gates','Mark Zuckerberg', 'Jeff Bezos']
names = pd.Series(name_tuple)
names

0           Suan Lee
1        Steven Jobs
2         Larry Page
3          Elon Musk
4               None
5         Bill Gates
6    Mark Zuckerberg
7         Jeff Bezos
dtype: object

In [3]:
names.str.lower()

0           suan lee
1        steven jobs
2         larry page
3          elon musk
4               None
5         bill gates
6    mark zuckerberg
7         jeff bezos
dtype: object

In [4]:
names.str.len( )

0     8.0
1    11.0
2    10.0
3     9.0
4     NaN
5    10.0
6    15.0
7    10.0
dtype: float64

In [5]:
names.str.split( )

0           [Suan, Lee]
1        [Steven, Jobs]
2         [Larry, Page]
3          [Elon, Musk]
4                  None
5         [Bill, Gates]
6    [Mark, Zuckerberg]
7         [Jeff, Bezos]
dtype: object

In [6]:
strdata = pd.DataFrame({'animal':['lion', 'tiger','zebra', 'gazel', 'rabbit', 'mouse', 'pig'],
                        'language':['Python','Ruby' ,'Java', 'SQL', 'ava', 'saav', 'SOL'],
                        'fruit':['apple', 'watermelon', 'peach', 'strawberry', '메론 1', 1111, '1111']})
strdata

   animal language       fruit
0    lion   Python       apple
1   tiger     Ruby  watermelon
2   zebra     Java       peach
3   gazel      SQL  strawberry
4  rabbit      ava        메론 1
5   mouse     saav        1111
6     pig      SOL        1111

In [7]:
strdata['animal'].str.capitalize()
strdata['animal'] = strdata['animal'].str.capitalize()
strdata

   animal language       fruit
0    Lion   Python       apple
1   Tiger     Ruby  watermelon
2   Zebra     Java       peach
3   Gazel      SQL  strawberry
4  Rabbit      ava        메론 1
5   Mouse     saav        1111
6     Pig      SOL        1111

In [8]:
strdata['animal']=strdata['animal'].str.casefold()
strdata['language'] = strdata['language'].str.casefold( )
strdata

   animal language       fruit
0    lion   python       apple
1   tiger     ruby  watermelon
2   zebra     java       peach
3   gazel      sql  strawberry
4  rabbit      ava        메론 1
5   mouse     saav        1111
6     pig      sol        1111

In [9]:
strdata['fruit'].str.count('r')

0    0.0
1    1.0
2    0.0
3    3.0
4    0.0
5    NaN
6    0.0
Name: fruit, dtype: float64

In [10]:
strdata['language'].str.find('av',1)

0   -1
1   -1
2    1
3   -1
4   -1
5    2
6   -1
Name: language, dtype: int64

### isalnum / isalpha / isdecimal / isdigit / isnumeric 비교
||str.isalnum|str.isalpha|str.isdecimal|str.isdigit|str.isnumeric|
|:--|:--:|:--:|:--:|:--:|:--:|
||영어+숫자|영문자|10진수 문자|숫자|수치형|
|'2' 10진수|True|False|True|True|True|
|'②' 숫자|True|False|False|True|True|
|'½' 수치|True|False|False|False|True|

In [11]:
str.isidentifier('½')

False

In [12]:
strdata['fruit'].str.find('p')
# strdata['fruit']의 0번째 row엔 apple이 있어 p가 인덱스 1번, 2번에 존재한다
# find는 문자열 sub의 가장 작은 인덱스를 반환하기 때문에 가장 작은 1번을 반환한다.

0    1.0
1   -1.0
2    0.0
3   -1.0
4   -1.0
5    NaN
6   -1.0
Name: fruit, dtype: float64

In [13]:
strdata['fruit'].str.rfind('p')
# strdata['fruit']의 0번째 row엔 apple이 있어 p가 인덱스 1번, 2번에 존재한다
# rfind는 문자열 sub의 가장 큰 인덱스를 반환하기 때문에 가장 큰 2번을 반환한다.

0    2.0
1   -1.0
2    0.0
3   -1.0
4   -1.0
5    NaN
6   -1.0
Name: fruit, dtype: float64

In [14]:
strdata['fruit'].str.isalnum()
# 여기서 5번 데이터의 값은 1111로 같지만
# 타입은 numeric / 6번 데이터의 타입은 str
# isalnum은 '2','②','½' 모두가 True가 된다.

0     True
1     True
2     True
3     True
4    False
5      NaN
6     True
Name: fruit, dtype: object

In [15]:
strdata['fruit'].str.isalpha()
# isalpha는 모든 문자열이 영문자로 1개 이상 존재해야 한다
# 6번 데이터의 값이 str(1111)이지만 영문자로 이루어진 문자열이 아니기 때문에 False를 반환한다.
# isalpha( )는  '2','②','½' 모두 False를 반환한다.

0     True
1     True
2     True
3     True
4    False
5      NaN
6    False
Name: fruit, dtype: object

In [16]:
strdata['fruit'].str.isdecimal()
# isdecimal은 모든 문자가 10진수 문자로 1개 이상 존재해야 한다.
# 0~5번 데이터는 모든 문자가 문자로 이루어진 문자열이기 때문에 False를 반환한다.
# isdecimal( )는  '2'를 True로 그 나머지인 '②','½' 모두 False를 반환한다.

0    False
1    False
2    False
3    False
4    False
5      NaN
6     True
Name: fruit, dtype: object

In [17]:
strdata['fruit'].str.isdigit()
# isdigit( )는 모든 문자가 숫자일 때 True를 반환한다.
# 6번 데이터만이 모든 문자열이 숫자로 이뤄져 있어 True를 반환한다.
# isdigit는 '2','②'를 True로 '½'를 False로 반환한다.

0    False
1    False
2    False
3    False
4    False
5      NaN
6     True
Name: fruit, dtype: object

In [18]:
strdata['fruit'].str.isnumeric()
# isdigit( )는 모든 문자가 수치형일 때 True를 반환한다.
# 6번 데이터만이 모든 문자열이 수치형으로 이뤄져 있어 True를 반환한다.
# isnumeric( )은 '2', '②', '½' 모두를 True로 반환한다

0    False
1    False
2    False
3    False
4    False
5      NaN
6     True
Name: fruit, dtype: object

In [19]:
strdata['fruit'].str.isspace()

0    False
1    False
2    False
3    False
4    False
5      NaN
6    False
Name: fruit, dtype: object

In [20]:
str.isidentifier('½')

False

In [21]:
sentence = pd.DataFrame({'sentence':["I can't stop loving you", "It is not a computer, It's just a speaker", 
                                     "Maybe I would watch the film today", "I am really hugry, how's about you?", " ", 
                                     "i am really sorry to hear that", "I CAN NOT HEAER YOU",
                                     "The Scream",
                                     "Can I be a programmer? \n Yes! you can do!"]})
sentence['word_count'] = sentence['sentence'].str.count(' ') + 1

sentence

                                     sentence  word_count
0                     I can't stop loving you           5
1   It is not a computer, It's just a speaker           9
2          Maybe I would watch the film today           7
3         I am really hugry, how's about you?           7
4                                                       2
5              i am really sorry to hear that           7
6                         I CAN NOT HEAER YOU           5
7                                  The Scream           2
8  Can I be a programmer? \n Yes! you can do!          10

In [22]:
sentence['sentence'].str.isspace()

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
Name: sentence, dtype: bool

In [23]:
sentence['sentence'].str.istitle()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8    False
Name: sentence, dtype: bool

In [24]:
sentence['sentence'].str.islower()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
Name: sentence, dtype: bool

In [25]:
sentence['sentence'].str.isupper()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
Name: sentence, dtype: bool

In [26]:
sentence['question_mark']=sentence['sentence'].str.join('?')
sentence

,sentence,word_count,question_mark
0,I can't stop loving you,5,I? ?c?a?n?'?t? ?s?t?o?p? ?l?o?v?i?n?g? ?y?o?u
1,"It is not a computer, It's just a speaker",9,"I?t? ?i?s? ?n?o?t? ?a? ?c?o?m?p?u?t?e?r?,? ?I?..."
2,Maybe I would watch the film today,7,M?a?y?b?e? ?I? ?w?o?u?l?d? ?w?a?t?c?h? ?t?h?e?...
3,"I am really hugry, how's about you?",7,"I? ?a?m? ?r?e?a?l?l?y? ?h?u?g?r?y?,? ?h?o?w?'?..."
4,,2,
5,i am really sorry to hear that,7,i? ?a?m? ?r?e?a?l?l?y? ?s?o?r?r?y? ?t?o? ?h?e?...
6,I CAN NOT HEAER YOU,5,I? ?C?A?N? ?N?O?T? ?H?E?A?E?R? ?Y?O?U
7,The Scream,2,T?h?e? ?S?c?r?e?a?m
8,Can I be a programmer? \n Yes! you can do!,10,C?a?n? ?I? ?b?e? ?a? ?p?r?o?g?r?a?m?m?e?r??? ?...

In [27]:
sentence['sentence'].iloc[0].partition("can't")

('I ', "can't", ' stop loving you')

In [28]:
sentence['sentence'].iloc[-1].splitlines()

['Can I be a programmer? ', ' Yes! you can do!']

In [30]:
names_1 = ['jack','bob','watson','jake','mike','don','george','natasha','jill','ann','john','johnson']
ser = pd.Series(names_1)
ser[ser.str.contains('oh|son')]

2      watson
10       john
11    johnson
dtype: object

In [31]:
ser[ser.str.startswith(('j', 'a',))]

0        jack
3        jake
8        jill
9         ann
10       john
11    johnson
dtype: object

### 기타 연산자
|메소드|설명|
|:-|:-|
|```get( )```|각 요소에 인덱스 지정|
|```slice_replace( )```|각 요소의 슬라이스를 특정 값으로 대체|
|```cat( )```|문자열 연결|
|```repeat( )```|값 반복|
|```normalize( )```|문자열의 유니코드 형태로 반환|
|```pad( )```|문자열 왼쪽, 오른쪽, 또는 양쪽 공백 추가|
|```wrap( )```|긴 문자열을 주어진 너비보다 짧은 길이의 여러 줄로 나눔|
|```join( )```|Series의 각 요소에 있는 문자열을 전달된 구분자와 결함|
|```get_dummies( )```|DataFrame으로 가변수(dummy variable)추출|

In [32]:
names.str[0:4]

0    Suan
1    Stev
2    Larr
3    Elon
4    None
5    Bill
6    Mark
7    Jeff
dtype: object

In [33]:
names.str.split().str.get(-1)

0           Lee
1          Jobs
2          Page
3          Musk
4          None
5         Gates
6    Zuckerberg
7         Bezos
dtype: object

In [34]:
names.str.repeat(2)

0                  Suan LeeSuan Lee
1            Steven JobsSteven Jobs
2              Larry PageLarry Page
3                Elon MuskElon Musk
4                              None
5              Bill GatesBill Gates
6    Mark ZuckerbergMark Zuckerberg
7              Jeff BezosJeff Bezos
dtype: object

### 정규표현식
|메소드|설명|
|:-|:-|
|```match( )```|각 요소에 ```re.match()``` 호출. 불리언값 반환|
|```extract()```|각 요소에 ```re.match()``` 호출. 문자열로 매칭된 그룹 변환|
|```findall()```|각 요소에 ```re.findall()``` 호출|
|```replace()```|패턴이 발생힌 곳을 디른 문지열로 대체|
|```contains()```| 각 요소에 ```re.search()``` 호출. 불리언 값 반환|
|```count()```|패턴 발생 건수 집계|
|```split()```|```str.split()``` 과 동일하시만 정규 표현식 사용|
|```rsplit()```|```str.rsplit()``` 과동일하지만 정규 표현식 사용|

In [35]:
names.str.match('([A-Za-z]+)')

0    True
1    True
2    True
3    True
4    None
5    True
6    True
7    True
dtype: object

In [36]:
names.str.findall( '([A-Za-z]+)' )

0           [Suan, Lee]
1        [Steven, Jobs]
2         [Larry, Page]
3          [Elon, Musk]
4                  None
5         [Bill, Gates]
6    [Mark, Zuckerberg]
7         [Jeff, Bezos]
dtype: object