Pokemon
Introduction:
This time you will create the data.

# Step. Import the necessary libraries

In [1]:
import pandas as pd

# Step. Create a data dictionary

In [2]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

# Step. Assign it to a variable called

In [3]:
variable = pd.DataFrame(raw_data)
variable

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

# Step. Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex

In [4]:
variable=variable[['name','type','hp','evolution','pokedex']]
variable

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

# Step. Add another column called place, and insert what you have in mind.

In [22]:
def put_place(value):

    if value == 'grass':
        return 'field'
    elif value == 'fire':
        return 'volcano'
    elif value == 'water':
        return 'sea'
    else:
        return 'mountain'

variable['place'] = variable['type'].apply(put_place)
variable

<ipython-input-22-8b6899db8d5f>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  variable['place'] = variable['type'].apply(put_place)

         name   type  hp   evolution pokedex     place
0   Bulbasaur  grass  45     Ivysaur     yes     field
1  Charmander   fire  39  Charmeleon      no   volcano
2    Squirtle  water  44   Wartortle     yes       sea
3    Caterpie    bug  45     Metapod      no  mountain

# Step. Present the type of each column

In [23]:
variable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      int64
 3   evolution  4 non-null      object
 4   pokedex    4 non-null      object
 5   place      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 320.0+ bytes