## 단계. 필요한 라이브러리를 가져온다.

In [1]:
import pandas as pd

## 단계. 이 주소에서 필요한 데이터를 가져온다
## 단계. chipo라는 변수에 저장한다. ( 다운 받지 않고 url 자체로 가능 )

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

## 단계. 첫 10개 행을 본다.

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

## 단계. 데이터 안에 몇 개의 관측치가 들어 있나? ( 2가지 방법 )

In [4]:
chipo.shape

(4622, 5)

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

## 단계. 데이터에 열columns은 몇 개인가?

In [6]:
len(chipo.columns)

5

## 단계. 모든 열의 이름을 출력하라.

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

## 단계. 데이터는 어떻게 색인되어 있나?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

## 단계. 어떤 물건을 가장 많이 구매하나?

## 단계. 가장 많이 구매하는 물건을 총 몇 개나 구매했나?

In [9]:
print(chipo['quantity'].value_counts())
print('\n')
print(chipo['item_name'][chipo['quantity'] == 15])

1     4355
2      224
3       28
4       10
8        1
5        1
10       1
7        1
15       1
Name: quantity, dtype: int64


3598    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

In [10]:
sample = chipo.groupby('item_name')
sample = sample.sum()
sample = sample.sort_values(['quantity'], ascending=False)
sample.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

## 단계. choice_description 열에서 가장 많이 구매한 아이템은 무엇인가?

In [11]:
chipo['choice_description'].value_counts()

[Diet Coke]                                                                                                                       134
[Coke]                                                                                                                            123
[Sprite]                                                                                                                           77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                             42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                  40
                                                                                                                                 ...
[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato Salsa (Mild)], [Rice, Fajita Veggies, Cheese, Sour Cream, Guacamole, Lettuce]]      1
[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Sour Cream, Guacamole]]       1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Pinto Beans, Sour Cream, Cheese]]                                                    1
[Tomatillo Green Chili Salsa, [Rice, Black Beans, Pinto Beans, Guacamole, Lettuce]]                                                 1
[Tomatillo Green Chili Salsa, [Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                1
Name: choice_description, Length: 1043, dtype: int64

In [12]:
group = chipo.groupby(['choice_description']).sum()
group = group.sort_values(['quantity'], ascending = False)
group

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42
...                                                      ...       ...
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       577         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       585         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       235         1
[Roasted Chili Corn Salsa, [Guacamole, Sour Cre...       987         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

[1043 rows x 2 columns]

## 단계. 모두 합쳐서 몇 개의 아이템을 구매했나?

In [24]:
chipo['quantity'].sum()

4972

## 단계. 아이템 가격item_price을 float 자료형으로 바꿔라

In [14]:
def slicing(str):
    return str[1:]

chipo['item_price_1'] = chipo['item_price'].apply(slicing).astype('float')

chipo['item_price_1']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price_1, Length: 4622, dtype: float64

## 단계. 아이템 가격의 자료형을 확인하자.

In [15]:
chipo['item_price_1'].dtype

dtype('float64')

## 단계. 람다 함수를 만들어서 아이템 가격을 바꿔보자.

In [16]:
chipo['item_price_2'] = chipo['item_price_1'].apply(lambda x: x +10)
chipo['item_price_2']

0       12.39
1       13.39
2       13.39
3       12.39
4       26.98
        ...
4617    21.75
4618    21.75
4619    21.25
4620    18.75
4621    18.75
Name: item_price_2, Length: 4622, dtype: float64

## 단계. 다시 아이템 가격의 자료형을 확인하자.

In [17]:
chipo['item_price_2'].dtype

dtype('float64')

## 단계. 데이터에 나온 기간 동안 수익revenue은 얼마인가?

In [18]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price_1']
chipo['revenue'].sum()

39237.02

## 단계. 이 테이블에선 얼마나 많은 구매가 이루어졌나?
(order_id가 같은 구매는 한 건의 구매로 간주한다)

In [19]:
len(chipo['order_id'].unique())

1834

## 단계. 구매 당 평균 수익은 얼마인가? ( 두가지 방법 )

In [20]:
chipo['revenue'].sum() / len(chipo['order_id'].unique())

21.39423118865867

In [21]:
chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

## 단계. 팔린 서로 다른 아이템의 종류는 몇 가지인가?

In [25]:
len(chipo['item_name'].unique())

50